* {
    box-sizing: border-box;
}

$cl-main: #23A6F0;
$cl-white: #FFFFFF;
$cl-whiteG: #FAFAFA;
$cl-black: #00000080;
$cl-second-txt: #737373;

@import 'breakpoint';

body {
    font-family: "Montserrat", sans-serif;
}

.bg-main {
    background-color: $cl-main;
}

.text-grey {
    color: $cl-second-txt;
}

.text-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
}

// Button style
.btn-main {
    padding: .7rem 1rem;
    color: $cl-white;
    background-color: $cl-main;
    border-color: $cl-main;
}

.btn-outline-main {
    @extend .btn-main;
    border-color: $cl-white;
    background-color: transparent;
}

/* Navbar */
header.header-main {
    padding: 20px 0;
    background: transparent;
    z-index: 10 !important;
}

.navbar {
    align-items: center;
    
    a {
        color: $cl-white;
        font-weight: 600;
    }

    ul {
        &>li {
            padding-right: 1rem;
        }
    }

    .navbar-brand {
        margin-right: 8%;
        font-size: 24px;
        font-weight: 700;
        color: $cl-white;
        letter-spacing: 0.1px;
    }

    .collapselink {
        justify-content: space-between;
        align-items: center;
    }

    .btnlink {
        align-items: center;

        button {
            margin-left: 40px;
            @include breakpoint(max-lg-device) {
                margin-left: 20px;
            }
            
            i {
                padding-left: 5px;
            }
        }
    }
}

/* Slider */
.slider {
    .banner-view {
        position: relative;
        min-height: 793px;
        z-index: 0;

        &::before {
            content: '';
            background: $cl-black;
            opacity: .5;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }
    }

    .banner-v1 {
        background: url(/imgs/banner.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@mixin banner-txt($width, $fsize, $fwgt) {
    max-width: $width;
    margin: auto;
    color: $cl-white;
    font-size: $fsize;
    font-weight: $fwgt;
    letter-spacing: 0.2px;
}

.slider-info {
    .banner-info {
        padding: 14rem 0 0;

        h3 {
            @include banner-txt(695px, 58px, 800);
            line-height: 80px;
        }

        p {
            @include banner-txt(540px, 20px, 500);
            padding: 40px 0;
        }
    }

    .banner-btn {
        button {
            border-radius: 50px;
            margin: 0 .25rem;
            padding: .7rem 2rem;
        }
    }
}

.slider-card {
    margin-top: -90px;
    background-color: $cl-whiteG;

    .card-deck {
        .card {
            img  {
                max-width: 50px;
                margin: 1.25rem 2.75rem 0;
            }
            
            .card-body {
                padding: 1.25rem 2.75rem;

                .card-title {
                    font-weight: 700;
                }

                p {
                    margin: 0;
                }
            }
        }
    }
}

.feature {
    &-banner {
        text-align: center;
    }

    &-items {
        &-item {
            .card {
                padding: 1.25rem;
            }

            .card-body {
                padding: 0;
                padding-left: 1.25rem;
            }

            img {
                max-width: 50px;
            }

            p {
                font-size: 14px;
                margin: 0;
            }

            h5 {
                margin-bottom: 0.5rem;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}

@for $i from 80 through 120 {
    @if ($i % 10 == 0) {
        .pt-#{$i} ,.py-#{$i} {
            padding-top: #{$i}px;
        }
        .pb-#{$i} ,.py-#{$i} {
            padding-bottom: #{$i}px;
        }
    }
}